#info-right {
    position: relative;
    top: 0;
    float: right;
}

    #info-right a {
        color: #0094ff;
    }

    #info-right span {
        font-style: italic;
    }

hr {
    padding: 0px;
    margin: 0px;
    padding-bottom: 10px;
}

ol {
    counter-reset: section;
}

    ol#main-list {
        list-style-type: none;
    }

        ol#main-list li:before {
            content: "(" counter(section) ") "; /* Display the counter */
        }

        ol#main-list li {
            counter-increment: section;
        }

    ol#sub-list {
        list-style-type: none;
    }

        ol#sub-list li:before {
            content: "(" counter(section, lower-alpha) ") ";
        }

        ol#sub-list li {
            counter-increment: section;
        }

    ol#sub-sub-list {
        list-style-type: none;
    }

        ol#sub-sub-list li:before {
            content: "(" counter(section, lower-roman) ") ";
        }

        ol#sub-sub-list li {
            counter-increment: section;
        }
        
li a {
    text-decoration: none;
    font-weight: normal;
    color: #333333;
}

#panelnav {
    margin-bottom: 10px;
}

#edit-title {
    margin: 0px 0px 5px 0px;
    padding: 0px;
    clear: both;
}

#my-content {
    border: 1px dashed #000000;
    padding: 5px;
}

.panelsections {
    padding: 1em;
    background: #ffffff;
}

#footerbar {
    bottom: 0px;
    width: 100%;
    height: 50px;
    background: #444444;
}

#navlogo {
    float: left;
}

#le-panel {
    position: fixed;
    right: 0;
    bottom: 0;
    display: none;
    background: #fff;
    border-left: 1px solid #111111;
    width: 60%;
    padding: 0px;
    box-shadow: -10px 0px 8px rgba(0,0,0,0.1);
}

#le-panel-top {
    position: relative;
}

#le-panel-top .close {
     position: absolute;
    margin: 14px 15px;
    background-color: white;
    border: 1px solid #666;
    border-radius: 30px;
    left: -25px;
    font-size: 27px;
    opacity: 0.75;
    color: #666;
    line-height: 18px;
    text-align:center;
}
    #le-panel-top .close span{
        
        display: inline-block;
    }

    #le-panel-top .close:hover {
        opacity:1;
    }

#sectionText {
    padding: 1em;
    padding-left: 1.5em;
    margin: 0;
    background-color: #EFEFEF
}

.le-tabs {
    margin: 0px;
    padding: 0px;
}

.le-tabs li {
    float: left;
    list-style: none;
    display: block;
    margin: 0px;
    padding: 0px;
    width: 25%;
    font-size:17px;
}

.le-tabs a {
    padding: 5px 0px;
    margin: 0px;
    display: inline-block;
    background-color: #666;
    color: #fff;
    text-decoration: none;
    width: 100%;
    text-align: center;
}
    .le-tabs a:hover {
        background-color: #999 !important;
    }

    .le-tabs li.active a:hover {
        background-color: #fff !important;
    }

    .le-tabs li.active a {
        background-color: #fff;
        color: #000;
    }

    .le-tabs-content .tab-pane .textarea{
        width:100%;
    }

.le-tabs-content{
    background-color:white;
    padding:16px;
}

.tab-pane{
}

.iconspan {
    font-size: 22px;
    margin: 0px;
    padding: 0px;
}

#panelhr {
    margin-top: 20px;
}

.submitPanel {
    background-color: #333;
    font-size: 1em;
    margin: .5em 0;
    padding: .7em 1em;
    display: block;
    position: relative;
    text-align: center;
    overflow: hidden;
    font-weight: bold;
    border: none;
    width: 100%;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
}

select {
    background: #f6f6f6;
    border: 1px #ddd solid;
    color: #333;
    padding: .7em 1em;
    text-align: center;
    font-weight: bold;
    line-height: 1.3em;
}

.section-comments .section-comments{
    padding-top:3px;
    padding-left:12px;
}

.comment .info, .comment .action{
    float:left;
    padding-right:20px;
}

.comment .score{
    font-weight:bold;
}

.section-container{
    height: 700px;
    overflow-y: scroll;    
}

.sections-cont{
    width:100%;
    display:block;
}

.sections-cont .sections-cont{
    padding-left: 25px;
    padding-top: 11px;
}

.sections-cont .section{    
    border: #CCC 1px solid;
    padding: 8px;
    background-color: #FFF;
    margin-top: 7px;
}

    .sections-cont .section.selected {
        border-color: #aaa;
        background-color: #eee;
    }    
    
    .sections-cont .section:hover{
        cursor: pointer;
    }

    .section-text{
        float:left;
    }

    .display-add-form{
        float:left;
    }

.add-section{
    padding-left: 5px;
    float:left;
}

.add-section-form{
    padding-left: 5px;
}

.discussion-page{
    
}

.discussion-page .date-created{
    padding: 0 0 3px 5px;
}

.discussion-page .actions{
    float:right;
    font-size: 28px;
    padding: 9px 8px 0 5px;
}

.discussion-page .score{
    float: right;
    font-size: 45px;
    padding: 12px 12px 0 12px;
}
