﻿#wrapper {
    width: 100%;
}

.panel {
    display: inline-block;
    width: 100%;
    border: none;
}

.panelSection {
    background: #ffffff;
    width: 100%;
    margin: 0px;
    padding:10px;
    min-height: 400px;
}

.subPanelSection{
    padding:0;
}

.tab_menu_background {
    width: 100%;
    background: #E9EAEC;
}

.tab_menu {
    display: table;
    width: 84%;
    margin: 0 auto;
    padding-bottom: 3px;
}

    .tab_menu ul {
        display: table-row;
        text-align:center;
    }

        .tab_menu ul li {
            display: inline-block;
        }

    .tab_menu a {
        padding: 20px 10px;
        margin: 0px 10px;
        display: inline-block;
        color: #999999;
        text-decoration: none;
        text-align: center;
        vertical-align: top;
    }
    
    .tab_menu a:hover {
        color: #000;
        border-bottom: 4px solid #666;
    }

    .tab_menu a.active {
        color: #000;
        border-bottom: 4px solid #3078CA;
    }

.discussions{
}

.discussion .user{
    text-align: center;
}

.discussion .user .profile-pic{
    font-size: 28px;
    margin-top: 2px;
}

.discussion .section{
    float: left;
    padding-left: 20px;
    font-size: 17px;
}

    .discussion .section a {
        color: black;
    }

    .discussion .section-info{
        float: left;
    }

    .discussion .commentTime{
        float: right;
    }

    .discussion .actions{
        float: right;
        font-size: 20px;
    }

    .discussion .score{
        padding: 10px;
        font-size: 27px;
        float:right;
    }
            
#xgov_info_table {
    min-height: 180px;
    display: table;
    width: 60%;
    padding:0 15px 15px 15px;
    margin: 0 auto;
    background-color: rgba(200,200,200,0.4);
}
    
.content-perspective {
    margin-left: 200px;
    position: relative;
    -webkit-perspective: 600px;
    -moz-perspective: 600px;
    -o-perspective: 600px;
    -ms-perspective: 600px;
    perspective: 600px;
}

.content-inner {
    position: relative;
    padding: 20px;
    color: #333;
    border: none;
    border-left: 5px solid #41838e;
    background: #fff;
}
    .content-inner
    .content-inner h3 {
        font-size: 26px;
        padding: 5px 0 5px 0;
        color: #41838e;
    }

    .content-inner p {
        font-size: 18px;
        max-height: 0px;
        overflow: hidden;
        color: transparent;
        color: rgba(0,0,0,0);
        text-align: left;
    }

    .content-inner:before {
        content: '\25c2';
        font-weight: normal;
        font-size: 54px;
        line-height: 54px;
        position: absolute;
        width: 30px;
        height: 30px;
        color: #41838e;
        left: -22px;
        top: 19px;
        z-index: -1;
    }


.parentOrganisation .content-inner{    
    border-color: #F26328;
}

ul.organisations{
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-bottom: 15px;
}

.category .category-header .description {
    font-weight:bold;
    margin: 7px;
}


.orgOrg{
    margin-top: 10px;
}

.orgOrg h3{
    margin-top: 0;
}

@@media screen and (max-width: 850px) {
    .content-inner h3 {
        font-size: 20px;
    }

    .content-inner p {
        font-size: 14px;
        text-align: justify;
    }

    .event input[type="radio"]:checked ~ .content-perspective .content-inner p {
        max-height: 500px;
    }
}

@@media screen and (max-width: 540px) {

    .event {
        padding-right: 0px;
        margin-bottom: 100px;
    }

        .event input[type="radio"] {
            width: 100px;
            height: 100px;
            left: 0px;
            top: 0px;
        }

        .event label {
            display: none;
        }

    .content-perspective {
        margin-left: 0px;
        top: 80px;
    }

        .content-perspective:before {
            height: 0px;
        }

    .content {
        -webkit-transform: rotateX(-10deg);
        -moz-transform: rotateX(-10deg);
        -o-transform: rotateX(-10deg);
        -ms-transform: rotateX(-10deg);
        transform: rotateX(-10deg);
    }

    .event input[type="radio"]:checked ~ .content-perspective .content {
        -webkit-transform: rotateX(10deg);
        -moz-transform: rotateX(10deg);
        -o-transform: rotateX(10deg);
        -ms-transform: rotateX(10deg);
        transform: rotateX(10deg);
    }

    .content-inner {
        border-left: none;
        border-top: 5px solid #41838e;
    }

    .event input[type="radio"]:checked ~ .content-perspective .content-inner {
        border-color: #F26328;
        box-shadow: 0 10px 10px -6px rgba(0, 0, 0, 0.1);
    }

    .content-inner:before {
        content: '\25b4';
        left: 33px;
        top: -32px;
    }

    .parentOrganisation .content-inner:before {
        content: '\25b4';
        left: 33px;
        top: -32px;
        border-color: #F26328;
    }

    .event input[type="radio"]:checked ~ .content-perspective .content-inner p {
        max-height: 300px;
    }
}

.staff{
    list-style-type:none;
    padding-left: 0;
}

.staff .profile-pic{
    float:left;
}

.staff .profile-pic img{
    max-width: 160px;
    max-height: 160px;
    float:left;
    margin-right: 8px;
}

.staff .staffMember{
    float:left;
    width: 48%;
    padding: 1%;
    margin-right: 1%;
}