﻿body {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 50px;
    padding-bottom: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

footer {
    text-align: right;
}

.box-shadow{    
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.logo {
    padding: 10px;
    float: left;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold !important;
    font-size: 25px !important;
    padding: 6px 5px 0px 5px !important;
    text-decoration: none !important;
    color: #fff !important;
    float: left !important;
}

.beta{
    color: #fff;
    background-color: red;
    border: 1px solid black;
    border-radius: 2px;
    font-weight: bold;
    padding: 1px 3px;
    position: absolute;
    top: 0;
    right: -44px;
}

.navbar-header .beta{
    font-size: 11px;
    float: left;
    margin: 2px;
}

.title-container{
    float: left;  
    position: relative;
}

.left {
    float: left;
}

.right {
    float: right;
}

ul.navbar-nav li {
    font-weight: bold;
    color: #fff !important;
}

ul.navbar-nav li a {
    padding: 15px 9px;
}

ul.navbar-nav a.navbar-icon, .navbar-ajax-loader {
    font-size: large;
    padding: 13px;
}

ul.navbar-nav .navbar-country {
    padding: 8px;
}

div.navbar-header img.navbar-country{
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 0;
    margin-right: 15px;
    margin-bottom: 0;
    display: block;
}

.navbar-ajax-loader {
    color: #777;
    padding-bottom:10px;
}

.spin{
     -webkit-transform-origin: 50% 58%;
     transform-origin:50% 58%;
     -ms-transform-origin:50% 58%; /* IE 9 */
     -webkit-animation: spin .2s infinite linear;
     -moz-animation: spin .2s infinite linear;
     -o-animation: spin .2s infinite linear;
     animation: spin .2s infinite linear;
}

.dynamicSpinnerWrapper{
    margin: auto;
    text-align: center;
    font-size: 24px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.reset-this {
    animation: none;
    animation-delay: 0;
    animation-direction: normal;
    animation-duration: 0;
    animation-fill-mode: none;
    animation-iteration-count: 1;
    animation-name: none;
    animation-play-state: running;
    animation-timing-function: ease;
    backface-visibility: visible;
    background: 0;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-position-x: 0;
    background-position-y: 0;
    background-repeat: repeat;
    background-size: auto auto;
    border: 0;
    border-style: none;
    border-width: medium;
    border-color: inherit;
    border-bottom: 0;
    border-bottom-color: inherit;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-collapse: separate;
    border-image: none;
    border-left: 0;
    border-left-color: inherit;
    border-left-style: none;
    border-left-width: medium;
    border-radius: 0;
    border-right: 0;
    border-right-color: inherit;
    border-right-style: none;
    border-right-width: medium;
    border-spacing: 0;
    border-top: 0;
    border-top-color: inherit;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top-style: none;
    border-top-width: medium;
    bottom: auto;
    box-shadow: none;
    box-sizing: content-box;
    caption-side: top;
    clear: none;
    clip: auto;
    color: inherit;
    columns: auto;
    column-count: auto;
    column-fill: balance;
    column-gap: normal;
    column-rule: medium none currentColor;
    column-rule-color: currentColor;
    column-rule-style: none;
    column-rule-width: none;
    column-span: 1;
    column-width: auto;
    content: normal;
    counter-increment: none;
    counter-reset: none;
    cursor: auto;
    direction: ltr;
    display: inline;
    empty-cells: show;
    float: none;
    font: normal;
    font-family: inherit;
    font-size: medium;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    height: auto;
    hyphens: none;
    left: auto;
    letter-spacing: normal;
    line-height: normal;
    list-style: none;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: disc;
    margin: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    max-height: none;
    max-width: none;
    min-height: 0;
    min-width: 0;
    opacity: 1;
    orphans: 0;
    outline: 0;
    outline-color: invert;
    outline-style: none;
    outline-width: medium;
    overflow: visible;
    overflow-x: visible;
    overflow-y: visible;
    padding: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: auto;
    page-break-before: auto;
    page-break-inside: auto;
    perspective: none;
    perspective-origin: 50% 50%;
    position: static;
    quotes: '\201C' '\201D' '\2018' '\2019';
    right: auto;
    tab-size: 8;
    table-layout: auto;
    text-align: inherit;
    text-align-last: auto;
    text-decoration: none;
    text-decoration-color: inherit;
    text-decoration-line: none;
    text-decoration-style: solid;
    text-indent: 0;
    text-shadow: none;
    text-transform: none;
    top: auto;
    transform: none;
    transform-style: flat;
    transition: none;
    transition-delay: 0s;
    transition-duration: 0s;
    transition-property: none;
    transition-timing-function: ease;
    unicode-bidi: normal;
    vertical-align: baseline;
    visibility: visible;
    white-space: normal;
    widows: 0;
    width: auto;
    word-spacing: normal;
    z-index: auto;
}

section.commentsList div.commentsListBody {
    padding: 10px 10px 0 10px;
}

article.comment .commentTime {
    display: inline-block;
    color: grey;
    font-size: 0.8em;
}

article.comment .commentText {
    padding: 0 0 5px 3px;
}

input.submit-btn {
    margin-left: 10px;
}

section.commentCreate {
    padding: 10px;
}

.red {
    color: #C9171E;
    border-color: #C9171E;
}

.green {
    color: #669966;
    border-color: #669966;
}

.responsive-list {
    width: 100%;
}

    .responsive-list a {
        text-decoration: none;
        color: black;
    }

        .responsive-list a:hover {
            text-decoration: underline;
            color: #428BCA;
        }

            .responsive-list a:hover div {
                background-color: #eee;
            }

    .responsive-list div.responsive-list-item {
        display: inline-block;
        max-width: 400px;
        min-width: 33%;
        float: left;
        padding: 10px;
    }
        .responsive-list div.responsive-list-item.law {
            height:150px;
        }

        .responsive-list div.responsive-list-item div {
            float: left;
        }

            .responsive-list div.responsive-list-item div .name {
                font-weight: bold;
            }

        .responsive-list div.responsive-list-item.politician div.image {
            float: left;
        }

        .responsive-list div.responsive-list-item.politician div.body {
            float: left;
            padding: 5px 7px 5px 7px;
            width: 230px;
        }

        .responsive-list.slim div.responsive-list-item.politician div.body {
            width: 194px;
        }

        .responsive-list div.responsive-list-item.law div.body {
            float: left;
            padding: 5px 7px 5px 7px;
            width: 330px;
        }

.list-controls{
    padding:10px;
}

.list-controls .list-control{
    float:right;
    padding: 1px 5px 1px 5px;
}

.legislation .body p{
    padding-left:15px;
}

.legislation-section:hover{
    background-color:#eee;
}

.spin{
     -webkit-transform-origin: 50% 50%;
     transform-origin:50% 50%;
     -ms-transform-origin:50% 50%; /* IE 9 */
     -webkit-animation: spin 1s infinite linear;
     -moz-animation: spin 1s infinite linear;
     -o-animation: spin 1s infinite linear;
     animation: spin 1s infinite linear;
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.tab-pane .filters{
    position: absolute;
    right: 12px;
}

.form-control{
    margin-bottom: 3px;
}

.list-item {
    border: #eee 1px solid;
    padding: 5px 8px;
    background-color: #FFF;
    margin-top: 10px;
}

a.userLink{
    display: inline-block;
    color: #FF7F50;
    font-weight: bold;
    font-size: 12px;
}

.filter-controls{
    padding: 10px 0;
}

.loginOrRegisterAlt{
    padding-left:7px;
}

.jumbotron .btn{
    margin-top: 15px;
}

.jumbotron h1{
    margin-top:0;
    margin-bottom: 20px;
}

.main-marketing-2 {
    margin-top:60px;
}

.main-marketing-2 .column {
    margin-bottom:35px;
}
.main-marketing-2 .col-inner{
    border:1px dotted #eee;
    margin:0 10px 15px 10px;
    min-height:350px;
    box-shadow: 7px 7px 8px rgba(0,0,0,0.1);
}

.main-marketing-2 img{
    margin:20px auto;
    display:block;
}

.main-marketing-2 p{    
    font-size: 20px;
    padding: 20px 30px;
    text-align:center;
}

.main-marketing-2 .column .number{
    position: absolute;
    top:-20px;
    left:5px;
    background-color:#eee;
    height:46px;
    width:46px;
    border-radius:23px;
    text-align:center;
    color: #fff;
}

.main-marketing-2 .column .number .numeral{
    font-size:34px;
    display: inline-block;
    line-height:47px;
    font-weight: bold;
}