﻿@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.Owin;

@if (Request.IsAuthenticated)
{    
    var userManager = System.Web.HttpContext.Current.Request.GetOwinContext().GetUserManager<Politify.ApplicationUserManager>();
    
    var user = userManager.GetCurrentUser(System.Web.HttpContext.Current);
    if (user == null){ throw new NullReferenceException("Expected session user, found null."); }
    
    <script type="text/javascript">
        envocal.user = {
            isAuthenticated: true,
            id: "@user.Id",
            username: "@user.UserName",
            firstName: "@user.FirstName",
            surname: "@user.Surname"
        };
    </script>
    <ul class="nav navbar-nav navbar-right">
        <li class="hidden-xs loader-animation navbar-ajax-loader navbar-icon" style="display:none;">
            <span class="glyphicon glyphicon-refresh spin"></span>
        </li>
        <li class="hidden-xs">
            <img src="@Url.Content(Politify.Code.Constants.FlagFilePath32() + "United Kingdom(Great Britain).png")" title="Viewing site as 'United Kingdom' user." class="navbar-country" />
        </li>
        <li>
            <a href="@Url.Content("~/Account/UserProfile")" title="View profile for @User.Identity.Name." class="navbar-icon">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </li>
        <li>
            <a href="@Url.Content("~/Account/Manage")" title="Manage account settings for @User.Identity.Name." class="navbar-icon">
                <span class="glyphicon glyphicon-lock">
                </span>
            </a>
        </li>
        <li>
            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
            {
                @Html.AntiForgeryToken()
            }
        </li>
    </ul>
}
else
{
    <script type="text/javascript">
        envocal.user = {
            isAuthenticated: false
        };
    </script>
    <ul class="nav navbar-nav navbar-right">
        <li class="hidden-xs loader-animation navbar-ajax-loader navbar-icon" style="display:none;">
            <span class="glyphicon glyphicon-refresh spin"></span>
        </li>
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: new { returnUrl = Request.Url.ToString() }, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: new { returnUrl = Request.Url.ToString() }, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
