﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1>Uh oh! You have hit an error.</h1>
<br/>
<h4>An error occurred while processing your request, I am so embarrassed.</h4>
<h4>I would commit seppuku but I don't have arms as I am just a web server.</h4>

