﻿@model Politify.Models.DiscussionVM

@{
    ViewBag.Title = "Discussion - " + Model.Text;
}

<script type="text/javascript">
    $(function () {
        legisleditorVM.setup();
        ko.applyBindings(legisleditorVM);
    });
</script>

<div data-bind="with: discussion" class="discussion-page">
    <div class="row">
        <div class="col-md-10">
            <h1 id="lawtitle" data-bind="text: Text">@Model.Text</h1>
            <div class="date-created">
                <time class="section-created-time" data-bind="attr:{ datetime: DateCreated }, timeago: 1">
                </time>
            </div>
        </div>
        <div class="col-md-2 info-right">
            <div class="actions">
                <div class="action vote up-vote" data-bind="click: $root.sectionVoteUp, visible: $root.canAdd">
                    <a href="#" title="Agree with this comment."><span class="glyphicon glyphicon-arrow-up"></span></a>
                </div>
                <div class="action vote down-vote" data-bind="click: $root.sectionVoteDown, visible: $root.canAdd">
                    <a href="#" title="Disagree with this comment."><span class="glyphicon glyphicon-arrow-down"></span></a>
                </div>
            </div>
            <div class="score" data-bind="text: Score"></div>
        </div>
    </div>
    <hr>
    <div class="sections-cont">
        <div class="section clearfix box-shadow" data-bind="template: { name: 'sectionTemplate', data: Section }, css: { 'selected': Section.IsFocused() }, click: $root.sectionClick(Section), clickBubble: false"></div>
    </div>
</div>

<div id="le-panel" data-bind="with: focusedSection">
    <div id="le-panel-top">
        <button type="button" class="close" aria-label="Close" data-bind="click: $root.hideLePanel"><span aria-hidden="true">&times;</span></button>
        <p id="sectionText">"<span data-bind="text: Text"></span>"</p>
        <ul class="le-tabs nav nav-tabs" role="tablist">
            <li class="active"><a href="#tab-comments" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-comment"></span><br />Comment</a></li>
            <li><a href="#tab-edits" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-edit"></span><br />Edit</a></li>
            <li><a href="#tab-explanations" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-info-sign"></span><br />Explain</a></li>
            <li><a href="#tab-evidences" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-file"></span><br />Evidence</a></li>
        </ul>
    </div>
    <div class="tab-content le-tabs-content">
        <div id="tab-comments" class="tab-pane active">
            <div class="tab-header">
                <div data-bind="visible: $parent.canAdd">
                    <p id="edit-title">Your Comment:</p>
                    <textarea class="textarea" placeholder="Comment on this section." data-bind="value: $data.CommentText"></textarea>
                    <input type="submit" class="submitPanel" data-bind="click: $root.addSectionComment" />
                </div>
                <div data-bind="visible: !$parent.canAdd()" class="loginOrRegisterAlt">
                    <p>
                        <a href="/Account/Login">Login</a> or <a href="/Account/Register">Register</a> to make a comment.
                    </p>
                </div>
                <hr>
            </div>
            <div class="section-container section-comments">
                <div class="filters" data-bind="visible: $data.CommentCount() > 0 && false">
                    <label for="select-sort">Sort by</label>
                    <select name="select-sort" id="select-selectsort" class="selectsortoption">
                        <option value="POP">Most Popular</option>
                        <option value="NEW">Newest</option>
                    </select>
                </div>
                <div class="section-comments-inner">
                    <span data-bind="visible: $data.CommentCount() == 0">No comments, be the first to add a comment.</span>
                    <!-- ko foreach: $data.Comments -->
                    <div class="section-comment" data-bind="template: { name: 'sectionCommentTemplate', data: $data }">
                    </div>
                    <!-- /ko -->
                </div>
            </div>
        </div>
        <div id="tab-edits" class="tab-pane">
            <div class="tab-header">
                <div data-bind ="visible: $parent.canAdd">
                    <p id="edit-title">Your Edit:</p>
                    <textarea class="textarea" data-bind="value: $data.EditedText"></textarea>
                    <input type="submit" class="submitPanel" data-bind="click: $root.addSectionEdit" />
                </div>
                <div data-bind="visible: !$parent.canAdd()" class="loginOrRegisterAlt">
                    <p>
                        <a href="/Account/Login">Login</a> or <a href="/Account/Register">Register</a> to suggest an edit.
                    </p>
                </div>
                <hr>
            </div>
            <div class="section-container section-comments">
                <div class="filters" data-bind="visible: $data.EditCount > 0 && false">
                    <label for="select-sort">Sort by</label>
                    <select name="select-sort" id="select-selectsort" class="selectsortoption">
                        <option value="POP">Most Popular</option>
                        <option value="NEW">Newest</option>
                    </select>
                </div>
                <div class="section-comments-inner">
                    <span data-bind="visible: $data.EditCount() == 0">No edits, be the first to suggest an edit.</span>
                    <!-- ko foreach: $data.SectionEdits-->
                    <div class="section-comment" data-bind="template: { name: 'sectionEditTemplate', data: $data }">
                    </div>
                    <!-- /ko -->
                </div>
            </div>
        </div>
        <div id="tab-explanations" class="tab-pane">
            <div class="tab-header">
                <div data-bind="visible: $parent.canAdd">
                    <p id="edit-title">Your Explanation:</p>
                    <textarea class="textarea" placeholder="Add an explanation for this section. You should try to use simple language in this section."
                              data-bind="value: $data.ExplanationText"></textarea>
                    <input type="submit" class="submitPanel" data-bind="click: $root.addSectionExplanation" />
                </div>
                <div data-bind="visible: !$parent.canAdd()" class="loginOrRegisterAlt">
                    <p>
                        <a href="/Account/Login">Login</a> or <a href="/Account/Register">Register</a> to add an explanation.
                    </p>
                </div>
                <hr>
            </div>
            <div class="section-container section-comments">
                <div class="filters" data-bind="visible: $data.ExplanationCount() > 0 && false">
                    <label for="select-sort">Sort by</label>
                    <select name="select-sort" id="select-selectsort" class="selectsortoption">
                        <option value="POP">Most Popular</option>
                        <option value="NEW">Newest</option>
                    </select>
                </div>
                <div class="section-comments-inner">
                    <span data-bind="visible: $data.ExplanationCount() == 0">No explanations, be the first to add an explanation.</span>
                    <!-- ko foreach: $data.SectionExplanations-->
                    <div class="section-comment" data-bind="template: { name: 'sectionExplanationTemplate', data: $data }"></div>
                    <!-- /ko -->
                </div>
            </div>            
        </div>
        <div id="tab-evidences" class="tab-pane">
            <div class="tab-header">
                <div data-bind="visible: $parent.canAdd">
                    <p id="edit-title">Your Evidence:</p>
                    <textarea class="textarea" placeholder="Add a web link supporting this argument."
                              data-bind="value: $data.EvidenceText"></textarea>
                    <input type="submit" class="submitPanel" data-bind="click: $root.addSectionEvidence" />
                </div>
                <div data-bind="visible: !$parent.canAdd()" class="loginOrRegisterAlt">
                    <p>
                        <a href="/Account/Login">Login</a> or <a href="/Account/Register">Register</a> to add some evidence.
                    </p>
                </div>
                <hr>
            </div>
            <div class="section-container section-comments">
                <div class="filters" data-bind="visible: $data.EvidenceCount() > 0 && false">
                    <label for="select-sort">Sort by</label>
                    <select name="select-sort" id="select-selectsort" class="selectsortoption">
                        <option value="POP">Most Popular</option>
                        <option value="NEW">Newest</option>
                    </select>
                </div>
                <div class="section-comments-inner">
                    <span data-bind="visible: $data.EvidenceCount() == 0">No evidence, be the first to add some evidence.</span>
                    <!-- ko foreach: $data.SectionEvidences-->
                    <div class="section-comment" data-bind="template: { name: 'sectionEvidenceTemplate', data: $data }"></div>
                    <!-- /ko -->
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/html" id="sectionCommentTemplate">
    <article class="comment">
        <header class ="clearfix">
            <div class="info" style="float:left;">
                <a class="userLink" data-bind="text: FirstName + ' ' + Surname, attr: { href: window.location.origin + virtualPath + 'Account/UserProfile/' + User_ID }">
                </a>
                <time class="commentTime" data-bind="attr: { datetime: CreatedDate }, timeago: 1">
                </time>
                <span class="editedStar" data-bind="visible: Edited">*</span>
            </div>
            <div class="action score" data-bind="text: Score"></div>
            <div class="action vote up-vote" data-bind="click: $root.sectionVoteUp, visible: $root.canAdd">
                <a href="#" title="Agree with this comment."><span class="glyphicon glyphicon-arrow-up"></span></a>
            </div>
            <div class="action vote down-vote" data-bind="click: $root.sectionVoteDown, visible: $root.canAdd">
                <a href="#" title="Disagree with this comment."><span class="glyphicon glyphicon-arrow-down"></span></a>
            </div>
        </header>
        <div class="commentText" data-bind="text: Text">
        </div>
        <div class="actions voting">
        </div>
        <div class="section-comments">
            <!--ko foreach: $data.Comments -->
            <div class="section-comment" data-bind="template: { name: 'sectionCommentTemplate', data: $data }">
            </div>
            <!-- /ko -->
        </div>
    </article>
</script>

<script type="text/html" id="sectionEditTemplate">
    <article class="comment">
        <header>
            <div class="info" style="float:left;">
                <a class="userLink" data-bind="text: FirstName + ' ' + Surname, attr: { href: window.location.origin + virtualPath + 'Account/UserProfile/' + User_ID }">
                </a>
                <time class="commentTime" data-bind="text: DateCreated, attr: { datetime: DateCreated }, timeago: 1">
                </time>
            </div>
            <div class="action score" data-bind="text: Score"></div>
            <div class="action vote up-vote" data-bind="click: $root.sectionVoteUp, visible: $root.canAdd">
                <a href="#" title="Agree with this comment."><span class="glyphicon glyphicon-arrow-up"></span></a>
            </div>
            <div class="action vote down-vote" data-bind="click: $root.sectionVoteDown, visible: $root.canAdd">
                <a href="#" title="Disagree with this comment."><span class="glyphicon glyphicon-arrow-down"></span></a>
            </div>
            <div class="clearfix"></div>
        </header>
        <div class="commentText" data-bind="text: Text">
        </div>
        <div class="actions voting">
        </div>
        <div class="section-comments">
            <!--ko foreach: $data.Comments -->
            <div class="section-comment" data-bind="template: { name: 'sectionCommentTemplate', data: $data }">
            </div>
            <!-- /ko -->
        </div>
    </article>
</script>

<script type="text/html" id="sectionExplanationTemplate">
    <article class="comment">
        <header>
            <div class="info" style="float:left;">
                <a class="userLink" data-bind="text: FirstName + ' ' + Surname, attr: { href: window.location.origin + virtualPath + 'Account/UserProfile/' + User_ID }">
                </a>
                <time class="commentTime" data-bind="text: DateCreated, attr: { datetime: DateCreated }, timeago: 1">
                </time>
            </div>
            <div class="action score" data-bind="text: Score"></div>
            <div class="action vote up-vote" data-bind="click: $root.sectionVoteUp, visible: $root.canAdd">
                <a href="#" title="Agree with this comment."><span class="glyphicon glyphicon-arrow-up"></span></a>
            </div>
            <div class="action vote down-vote" data-bind="click: $root.sectionVoteDown, visible: $root.canAdd">
                <a href="#" title="Disagree with this comment."><span class="glyphicon glyphicon-arrow-down"></span></a>
            </div>
            <div class="clearfix"></div>
        </header>
        <div class="commentText" data-bind="text: Text">
        </div>
        <div class="actions voting">
        </div>
        <div class="section-comments">
            <!--ko foreach: $data.Comments -->
            <div class="section-comment" data-bind="template: { name: 'sectionCommentTemplate', data: $data }">
            </div>
            <!-- /ko -->
        </div>
    </article>
</script>

<script type="text/html" id="sectionEvidenceTemplate">
    <article class="comment clearfix">
        <header>
            <div class="info" style="float:left;">
                <a class="userLink" data-bind="text: FirstName + ' ' + Surname, attr: { href: window.location.origin + virtualPath + 'Account/UserProfile/' + User_ID }">
                </a>
                <time class="commentTime" data-bind="text: DateCreated, attr: { datetime: DateCreated }, timeago: 1">
                </time>
            </div>
            <div class="action score" data-bind="text: Score"></div>
            <div class="action vote up-vote" data-bind="click: $root.sectionVoteUp, visible: $root.canAdd">
                <a href="#" title="Agree with this comment."><span class="glyphicon glyphicon-arrow-up"></span></a>
            </div>
            <div class="action vote down-vote" data-bind="click: $root.sectionVoteDown, visible: $root.canAdd">
                <a href="#" title="Disagree with this comment."><span class="glyphicon glyphicon-arrow-down"></span></a>
            </div>
        </header>
        <div class="commentText" data-bind="text: Text">
        </div>
        <div class="actions voting">
        </div>
        <div class="section-comments">
            <!--ko foreach: $data.Comments -->
            <div class="section-comment" data-bind="template: { name: 'sectionCommentTemplate', data: $data }">
            </div>
            <!-- /ko -->
        </div>
    </article>
</script>

<script type="text/html" id="sectionTemplate">
    <div class="clearfix">
        <a class="section-text" data-bind="text: Text"></a>
        <div class="add-section" data-bind="visible: $root.canAdd">
            <div class="display-add-form" data-bind="click: $root.displayAddSection, clickBubble: false" style="float:left;">
                <span class="glyphicon glyphicon-plus">
                </span>
            </div>
            <div class="add-section-form" data-bind="visible: IsAdding" style="float:left;">
                <input type="text" data-bind="value: AddSectionText, hasFocus: AddHasFocus" class="form-control" />
                <input type="submit" value="Submit" data-bind="click: $root.addSection" class="form-control" />
            </div>
        </div>
    </div>
    <div class="sections-cont">
        <!-- ko foreach: $data.Children -->
        <div class="section clearfix box-shadow" data-bind="template: { name: 'sectionTemplate', data: $data }, css: { 'selected': IsFocused }, click: $root.sectionClick, clickBubble: false"></div>
        <!-- /ko -->
    </div>
</script>