﻿@{
    ViewBag.Title = "Discussions";
}

<script type="text/javascript">
    $(function () {
        ko.applyBindings(discussionsVM);
        discussionsVM.setup();
    });
</script>

<h1>Discussions</h1>
<br />
<div id="wrapper">
    <div class="filter-controls">
        <div class="row">
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-addon glyphicon glyphicon-filter"></span>
                    <select data-bind="value: orderBy, options: orderByOptions, optionsText: 'name', optionsValue: 'value', optionsCaption: 'Sort...'" class="form-control"></select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-addon glyphicon glyphicon-search"></span>
                    <input type="search" data-bind="value: searchText" placeholder="Search..." class="form-control" />
                </div>
            </div>
        </div>
    </div>
    <div class="discussions" data-bind="foreach: discussions, loading: loading">
        <div class="discussion list-item box-shadow clearfix">
            <div class="section-info">
                <div class="user" data-bind="with: User">
                    <a data-bind="attr: { href: Link }" class="userLink">
                        <div class="profile-pic">
                            <span class="glyphicon glyphicon-user"></span>
                        </div>
                        <span data-bind="text: DisplayName"></span>
                    </a>
                </div>
            </div>
            <div class="section">
                <a data-bind="text: Text, attr: { href: Link }"></a>
            </div>
            <div class="actions">
                <div class="action score" data-bind="text: Score"></div>
            </div>
            <div class="dateCreated">
                <time class="commentTime" data-bind="attr: { datetime: DateCreated }, timeago: 1"></time>
            </div>
        </div>
    </div>
</div>
