﻿@model Politify.Models.ProfileViewModel

@{
    ViewBag.Title = Model.UserName + " - Profile";
}

<script type="text/javascript">
    $(function () {
        ko.applyBindings(userProfileVM);
        userProfileVM.setup();
    });
</script>
<div class="clearfix" style="margin-bottom: 10px;">

    <h2> @Model.FirstName @Model.Surname (@Model.UserName)</h2>
    <!-- ko with: orgs -->
    <div class="col-md-6" data-bind="loading: loading">
        <h4>@(Model.FirstName)'s Relevant Local Organisations</h4>
        <ul class="organisations" data-bind="template: { name: 'organisationTemplate', foreach: values}"></ul>
    </div>
    <!-- /ko -->
    <!-- ko with: workOrgs -->
    <div class="col-md-6" data-bind="loading: loading">
        <h4>@(Model.FirstName)'s Relevant Work Location Organisations</h4>
        <ul class="organisations" data-bind="template: { name: 'organisationTemplate', foreach: values}"></ul>
    </div>    
    <!-- /ko -->
    <!-- ko with: discussions -->
    <div class="col-md-12" data-bind="loading: loading">
        <h4>@(Model.FirstName)'s Latest Discussions</h4>
        <div data-bind="foreach: values" class="discussions">
            <div class="discussion list-item box-shadow clearfix">
                <div class="section-info">
                    <div class="user" data-bind="with: User">
                        <a data-bind="attr: { href: Link }" class="userLink">
                            <div class="profile-pic">
                                <span class="glyphicon glyphicon-user"></span>
                            </div>
                            <span data-bind="text: DisplayName"></span>
                        </a>
                    </div>
                </div>
                <div class="section">
                    <a data-bind="text: Text, attr: { href: Link }"></a>
                </div>
                <div class="actions">
                    <div class="action score" data-bind="text: Score"></div>
                </div>
                <div class="dateCreated">
                    <time class="commentTime" data-bind="attr: { datetime: DateCreated }, timeago: 1"></time>
                </div>
            </div>
        </div>
    </div>    
    <!-- /ko -->
</div>


<script type="text/html" id="organisationTemplate">
    <li class="orgOrg box-shadow">
        <div class="content">
            <div class="content-inner">
                <a data-bind="attr: { href: Link }"><h3 data-bind="text: Name"></h3></a>
                <span data-bind="text: Description"></span>
                <span data-bind="text: OrganisationType"></span>
            </div>
        </div>
    </li>
</script>