﻿@{
    ViewBag.Title = "About EnVocal";
}
<h2>@ViewBag.Title</h2>
<br />

<div class="alert alert-info" role="alert">
    <span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;&nbsp; We are currently in alpha and welcoming all @Html.ActionLink("feedback", "Details", "Organisation", new { id = 10000 }, new { @class = "alert-link" })!
</div>

<h4>Who are we?</h4>
<p>
    We are a small group of volunteers who like many people in the UK are not happy with the current political system. 
    We believe that the current world of politics is too disconnected from the very people that it aims to govern.
    We feel that no panel of politicians will truly be able to represent our views at the national level (or even the local level) 
    and that it is much too difficult to get the idea of the individual into parliament. We believe that our current democratical model
    is outdated and it is time we used the power of the internet and the crowd to define the laws that govern us. Most of all, we are 
    entirely devoted to improving upon the system in place and hope you can help.@* @Html.ActionLink("help", "HowCanYouHelp").*@ 
    Voice your opinion on what we do @Html.ActionLink("here", "Details", "Organisation", new { id = 10000 }, new { @class = "alert-link" })!
</p>
<br/>
<h4>What do we do?</h4>
<p>
    EnVocal is a revolutionary new tool that exposes current political topics for debate and judgement. Our main initial aim is education. We hope to 
    break down current legislation into terms the public can understand, something we believe should be done already. We believe that by presenting new 
    legislature in this form that the average person will have a more insightful opinion than the government would expect. We have our sights very high 
    with this service and truly believe that together we can change this world for the better.
</p>
<br />
<h4>How do we do this?</h4>
<p>
    We at EnVocal have a few simple objectives that we hope will bring policy and public opinion together to create a more effective governing system.
    We aim to:
    <ul>
        <li>
            Provide resources that help make politics accessible for all members of the public.
        </li>
        <li>
            Give users access to political debate as it happens so they can voice their opinions on matters as they are being discussed.
        </li>
        <li>
            Collect regional statistics on your opinions to represent your views as they evolve.
        </li>
        <li>
            Present your opinion to policy makers so that they can more accurately represent your views.
        </li>
    </ul>
</p>
<br />
@*<h4>Isn't that a difficult process?</h4>
        <p>
            Yes, it is a little. It takes a long time to review each piece of legislation and analyse any impacts it may have on the country but we love doing it.
            Despite having a great team we could always use a little more help, please see our @Html.ActionLink("How You Can Help", "HowCanYouHelp") section.
    </p>*@
<br/>
<p>
    <strong>
        Also see @Html.ActionLink("What can you do with Envocal?", "WhatCanYouDoOnEnvocal")
    </strong>
</p>
<p>
    <strong>If you have any other questions then feel free to @Html.ActionLink("contact us", "Contact").</strong>
</p>