﻿@{
    ViewBag.Title = "Contact EnVocal HQ";
}
<h2>@ViewBag.Title</h2>
<br />
<div class="alert alert-info" role="alert">
    <span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;&nbsp; We are currently in alpha and welcoming all @Html.ActionLink("feedback", "Details", "Organisation", new { id = 10000 }, new { @class = "alert-link" })!
</div>

<h3>Send us an email</h3>
<address>
    <strong>General:</strong>   <a href="mailto:envocal@envocal.com">envocal@envocal.com</a><br />
    <strong>Support:</strong>   <a href="mailto:Support@envocal.com">support@envocal.com</a><br />
    <strong>Ideas:</strong> <a href="mailto:ideas@envocal.com">ideas@envocal.com</a>
</address>
<br/>
<h3> Or try us on social media</h3>
<p>
    <a href="https://www.facebook.com/envocalUk" rel="publisher" target="_blank">
        <img src="@Url.Content("~/Content/Images/facebook.png")" alt="Facebook" class="logo" style="margin-right:10px; "/>
    </a>
</p>
<p>
    <a href="https://www.twitter.com/envocalUk" rel="publisher" target="_blank">
        <img src="@Url.Content("~/Content/Images/twitter.png")" alt="Twitter" class="logo" style="margin-top:5px;margin-right:10px;" />
    </a>
</p>
<p>
    <a href="https://plus.google.com/111459087489945602041" rel="publisher" target="_blank">
        <img src="@Url.Content("~/Content/Images/googleplus.png")" alt="Google+" class="logo" />
    </a>
</p>
<div class="clearfix"></div>
<br/>
