﻿@{
    ViewBag.Title = "How you can help Politify!";
}
<h2>How you can help Politify</h2>

<p>
    Politify is a revolutionary new tool that exposes current political topics for debate and judgement. 

    

    Government and politics are meant to be a framework that we can build off of; a tool that we all use to help build a better society.

    We believe that the current world of politics is too disconnected from the people that it aims to help.
    We believe that by presenting new legislature, in a format that is accessible to the average member of the public, 
</p>

<p>Politify was founded on the belief that the people should have direct control over the laws that govern them. </p>

<h4>How do we do this?</h4>
<p>Politify </p>
