﻿@{
    ViewBag.Title = "EnVocal, Politics done right.";
}
<script type="text/javascript">
    $(function () {
        var viewModel = {
            'organisationsVM': organisationsVM,
            'discussionsVM': discussionsVM
        };

        organisationsVM.setup({ count: 20 });
        discussionsVM.setup({ count: 20 });
        ko.applyBindings(viewModel);
    });
</script>
<div class="wrapper">
    <div class="jumbotron">

        <h1>EnVocal sees your political voice heard.</h1>
        <p>
            Envocal acts to represent your real opinion to the people that need to hear it.
        </p>
        @if (User.Identity.IsAuthenticated)
        {
            <p>
                @Html.ActionLink("Learn more »", "About", null, new { @class = "btn btn-primary btn-large" })
            </p>
        }
        else
        {
            <p>Login or register to voice your opinion.</p>
            <div>
                @Html.ActionLink("Login »", "Login", "Account", null, new { @class = "btn btn-primary btn-large" })
                @Html.ActionLink("Register »", "Register", "Account", null, new { @class = "btn btn-primary btn-large" })
                @Html.ActionLink("Learn more »", "About", null, new { @class = "btn btn-primary btn-large" })
            </div>
        }
    </div>
    <div class="main-marketing-2">
        <div class="row">
            <div class="column col-md-4">
                <div class="number">
                    <span class="numeral">
                        1
                    </span>
                </div>
                <div class="col-inner">
                    <div class="row">
                        <img src="@Url.Content("~/Content/Images/mainPage1.png")" alt="Present your idea." 
                             width="200" style="margin-bottom: 35px;"/>
                    </div>
                    <div class="row">
                        <p>Have an idea to make your community or country better?</p>
                    </div>
                </div>
            </div>
            <div class="column col-md-4">
                <div class="col-inner">
                    <div class="number">
                        <span class="numeral">
                            2
                        </span>
                    </div>
                    <div class="row">
                        <img src="@Url.Content("~/Content/Images/mainPage2.png")" alt="Present your idea." 
                             width="200" style="margin-bottom:15px"/>
                    </div>
                    <div class="row">
                        <p>Find others in that community who share your point of view.</p>
                    </div>
                </div>
            </div>
            <div class="column col-md-4">
                <div class="col-inner">
                    <div class="number">
                        <span class="numeral">
                            3
                        </span>
                    </div>
                    <div class="row">
                        <img src="@Url.Content("~/Content/Images/mainPage3.png")" alt="Present your idea." width="250" 
                             style="margin:50px auto 57px auto;"/>
                    </div>
                    <div class="row">
                        <p>Envocal represents your opinion to the people that need to hear it.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @if (!User.Identity.IsAuthenticated)
    {
        <div class="alert alert-warning" role="alert">
            <span class="glyphicon glyphicon-warning-sign"></span>&nbsp;&nbsp;&nbsp;@Html.ActionLink("Register", "Register", "Account", null, new { @class = "alert-link" }) now to submit your ideas and make a difference!
        </div>
    }
    <div class="alert alert-info" role="alert">
        <span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;&nbsp; We are currently in alpha and welcoming all @Html.ActionLink("feedback", "Details", "Organisation", new { id = 10000 }, new { @class = "alert-link" })!
    </div>
    <div class="row">
        <div class="col-md-6" data-bind="with: organisationsVM">
            <h2>Organisations</h2>
            <ul class="organisations" data-bind="foreach: organisations, loading: loading">
                <li class="orgOrg box-shadow">
                    <div class="content">
                        <div class="content-inner">
                            <a data-bind="attr: { href: Link }"><h3 data-bind="text: Name"></h3></a>
                            <span data-bind="text: Description"></span>
                            <span data-bind="text: OrganisationType"></span>
                        </div>
                    </div>
                </li>
            </ul>
            <br/>
        </div>
        <div class="col-md-6" data-bind="with: discussionsVM">
            <h2>Dicussions</h2>
            <div class="discussions" data-bind="foreach: discussions, loading: loading">
                <div class="discussion list-item box-shadow clearfix">
                    <div class="section-info">
                        <div class="user" data-bind="with: User">
                            <a data-bind="attr: { href: Link }" class="userLink">
                                <div class="profile-pic">
                                    <span class="glyphicon glyphicon-user"></span>
                                </div>
                                <span data-bind="text: DisplayName"></span>
                            </a>
                        </div>
                    </div>
                    <div class="section">
                        <a data-bind="text: Text, attr: { href: Link }"></a>
                    </div>
                    <div class="actions">
                        <div class="action score" data-bind="text: Score"></div>
                    </div>
                    <div class="dateCreated">
                        <time class="commentTime" data-bind="attr: { datetime: DateCreated }, timeago: 1"></time>
                    </div>
                </div>
            </div>
            <br />
        </div>
    </div>
</div>