﻿@{
    ViewBag.Title = "Privacy Policy";
}
<h2>@ViewBag.Title</h2>
<br />

<h3>Introduction</h3>
<p>Envocal are committed to safeguarding the privacy of our website visitors; in this policy we explain how we will treat your personal information.</p>

<h3>Credit</h3>
<p>
    This document was created using a template from <a href="http://www.seqlegal.com" target="_blank">SEQ Legal</a>.
</p>

<h3>Collecting personal information</h3>
<p>
    We may collect, store and use the following kinds of personal information:
    <ul>
        <li>information about your computer and about your visits to and use of this website (including your IP address, geographical location, browser type and version, operating system, referral source, length of visit, page views and website navigation paths);</li>
        <li>information that you provide to us when registering with our website (including your email address);</li>
        <li>information that you provide when completing your profile on our website (including your name, profile pictures);</li>
        <li>information that you provide to us when using the services on our website, or that is generated in the course of the use of those services (including the timing, frequency and pattern of service use;</li>
        <li>information that you post to our website for publication on the internet;</li>
        <li>information contained in or relating to any communications that you send to us or send through our website (including the communication content and meta data associated with the communication);</li>
        <li>any other personal information that you choose to send to us.</li>
    </ul>
</p>
<p>You must never disclose your personal information publicly (visible on public pages) via this website.</p>
<p>You must never disclose the personal information of another person.</p>

<h3>Using your personal information</h3>
<p>
    Personal information submitted to us through our website will be used for the purposes specified in this policy or on the relevant pages of the website.
</p>
<p>
    We may use your personal information to: 
    <ul>
        <li>administer our website and business;</li>
        <li>personalise our website for you;</li>
        <li>enable your use of the services available on our website;</li>
        <li>send you non-marketing commercial communications;</li>
        <li>send you email notifications that you have specifically requested;</li>
        <li>send you our email newsletter, if you have requested it (you can inform us at any time if you no longer require the newsletter);</li>
        <li>send you marketing communications relating to our business;</li>
        <li>deal with enquiries and complaints made by or about you relating to our website;</li>
        <li>keep our website secure and prevent fraud;</li>
        <li>verify compliance with the terms and conditions governing the use of our website (including monitoring private messages sent through our website private messaging service).</li>
    </ul>
</p>

<h3>Disclosing personal information</h3>
<p>
    We may disclose your personal information to any of our employees insofar as reasonably necessary for the purposes set out in this policy.
</p>
<p>
    We may disclose your personal information:
    <ul>
        <li>to the extent that we are required to do so by law;</li>
        <li>in connection with any ongoing or prospective legal proceedings;</li>
        <li>in order to establish, exercise or defend our legal rights (including providing information to others for the purposes of fraud prevention and reducing credit risk);</li>
    </ul>
</p>
<p>
    Except as provided in this policy, we will not provide your personal information to third parties.
</p>

<h3>International data transfers</h3>
<p>
    Information that we collect may be stored and processed in and transferred between any of the countries in which we operate in order to enable us to use the information in accordance with this policy.
</p>
<p>
    Information that we collect may be transferred to the following countries which do not have data protection laws equivalent to those in force in the European Economic Area: the United States of America.
</p>
<p>
    Personal information that you publish on our website or submit for publication on our website may be available, via the internet, around the world. We cannot prevent the use or misuse of such information by others.
</p>
<p>
    You expressly agree to the transfers of personal information described in this Section 6.
</p>

<h3>Retaining personal information</h3>
<p>This Section 7 sets out our data retention policies and procedure, which are designed to help ensure that we comply with our legal obligations in relation to the retention and deletion of personal information.</p>
<p>Personal information that we process for any purpose or purposes shall not be kept for longer than is necessary for that purpose or those purposes.</p>
<p>Notwithstanding the other provisions of this Section 7, we will retain documents (including electronic documents) containing personal data: 
    <ul>
        <li>to the extent that we are required to do so by law;</li>
        <li>f we believe that the documents may be relevant to any ongoing or prospective legal proceedings; and</li>
        <li>in order to establish, exercise or defend our legal rights (including providing information to others for the purposes of fraud prevention and reducing credit risk).</li>
    </ul>
</p>

<h3>Security of your personal information</h3>
<p>We will take reasonable technical and organisational precautions to prevent the loss, misuse or alteration of your personal information.</p>

<p>We will store all the personal information you provide on our secure (password- and firewall-protected) servers.</p>

<p>You acknowledge that the transmission of information over the internet is inherently insecure, and we cannot guarantee the security of data sent over the internet.</p>

<p>You are responsible for keeping the password you use for accessing our website confidential; we will not ask you for your password (except when you log in to our website or try to change the password).</p>

<h3>Amendments</h3>
<p>We may update this policy from time to time by publishing a new version on our website.</p>
<p>You should check this page occasionally to ensure you are happy with any changes to this policy.</p>
<p>We may notify you of changes to this policy by email or through the private messaging system on our website.</p>

<h3>Your rights</h3>
<p>
    You may instruct us to provide you with any personal information we hold about you; provision of such information will be subject to: 
    <ol>
        <li>the payment of a fee GBP 10; and</li>
        <li>the supply of appropriate evidence of your identity.</li>
    </ol>
</p>
<p>We may withhold personal information that you request to the extent permitted by law.</p>
<p>We will provide you with an opportunity to opt out of the use of your personal information for marketing purposes.</p>

<h3>Third party websites</h3>
<p>
    Our website includes hyperlinks to, and details of, third party websites.
</p>
<p>
    We have no control over, and are not responsible for, the privacy policies and practices of third parties.
</p>

<h3>Updating information</h3>
<p>Please let us know if the personal information that we hold about you needs to be corrected or updated.</p>

<h3>Cookies</h3>
<p>A cookie is a file containing an identifier (a string of letters and numbers) that is sent by a web server to a web browser and is stored by the browser. The identifier is then sent back to the server each time the browser requests a page from the server.</p>
<p>Cookies may be either "persistent" cookies or "session" cookies: a persistent cookie will be stored by a web browser and will remain valid until its set expiry date, unless deleted by the user before the expiry date; a session cookie, on the other hand, will expire at the end of the user session, when the web browser is closed. </p>
<p>Cookies do not typically contain any information that personally identifies a user, but personal information that we store about you may be linked to the information stored in and obtained from cookies.</p>
<p>We use both session and persistent cookies on our website.</p>
<p>
    The names of the cookies that we use on our website, and the purposes for which they are used, are set out below: 
    <ol>
        <li>we use __RequestVerificationToken, .AspNet.ApplicationCookie and ASP.NET_SessionId cookies on our website to identify you as a user and provide you a secure account on Envocal.</li>
        <li>we use _ga and _gat to track your usage of the website to provide you better service in future. No data is passed to a third party for marketing purposes.</li>
    </ol>
</p>
<p>Most browsers allow you to refuse to accept cookies; for example: 
    <ol>
        <li>in Internet Explorer (version 10) you can block cookies using the cookie handling override settings available by clicking "Tools", "Internet Options", "Privacy" and then "Advanced";</li>
        <li>in Firefox (version 24) you can block all cookies by clicking "Tools", "Options", "Privacy", selecting "Use custom settings for history" from the drop-down menu, and unticking "Accept cookies from sites"; and</li>
        <li>in Chrome (version 29), you can block all cookies by accessing the "Customise and control" menu, and clicking "Settings", "Show advanced settings" and "Content settings", and then selecting "Block sites from setting any data" under the "Cookies" heading.</li>
    </ol>
</p>
<p>Blocking all cookies will have a negative impact upon the usability of many websites.</p>
<p>If you block cookies, you will not be able to use all the features on our website.</p>
<p>You can delete cookies already stored on your computer; for example:
    <ol>
        <li>in Internet Explorer (version 10), you must manually delete cookie files (you can find instructions for doing so at <a href="http://support.microsoft.com/kb/278835">http://support.microsoft.com/kb/278835</a></li>
        <li>in Firefox (version 24), you can delete cookies by clicking "Tools", "Options" and "Privacy", then selecting "Use custom settings for history", clicking "Show Cookies", and then clicking "Remove All Cookies"; and</li>
        <li>in Chrome (version 29), you can delete all cookies by accessing the "Customise and control" menu, and clicking "Settings", "Show advanced settings" and "Clear browsing data", and then selecting "Delete cookies and other site and plug-in data" before clicking "Clear browsing data".</li>
    </ol>
</p>
<p>Deleting cookies will have a negative impact on the usability of many websites.</p>

<h3>Our details</h3>
<p>This website is owned and operated by Chris Stevens.</p>
<p>You can find information on contacting us via our <a href="@Url.Content("~/Home/Contact")">contact page</a>.</p>