﻿@{
    ViewBag.Title = "What Can You Do On Envocal?";
}

<h2>What can you do on Envocal?</h2>
<br />
<p>
    Envocal allows you to give the major organisations governing you your opinion in a meaningful way that they can act on. This is in the hopes that together we can build a better community.
</p>
<br />
<h4>Communicating with the organisations that govern you</h4>
<p>
    When you sign up for Envocal you are immediately shown exactly which organisations create legislation and policy for your area. In a complex political system such as is in place in the UK
    this is an invaluable step to creating real democracy. Now you know which organisations need to here your important opinions you can target them with your ideas. Others who are governed by
    the same organisation can see your opinion and vote on it. These opinions are collected and forwarded on to the organisation so that they can better affect the changes you want to see.
</p>
<br />
<h4>Communicating with the staff that work at these organisations</h4>
<p>
    In addition to being able to target the organisations that govern you, you can also talk to those that work at the organisations in question. Again this is driving decision making towards
    being a community activity rather than those with the power.
</p>