﻿@using Politify.Models;
@using Politify.Models.Comments;
@using Politify.Code.Extensions;
@model Politify.Models.OrganisationVM

@{
    ViewBag.Title = Model.Name + 
        (Model.Name.EndsWith(Model.OrganisationType.ToString(), StringComparison.CurrentCultureIgnoreCase) ? "" : " " + Model.OrganisationType);
}
<script type="text/javascript">
    $(function () {
        ko.applyBindings(organisationVM);
        organisationVM.load();
    });
</script>
<div id="organisation" data-bind="loading: loading, with: organisation">
    <div id="xgov_background">
        <div id="xgov_info_table">
            <div id="xgov_info_img" data-bind="visible: hasPicture">
                <img height=" 160px" width="160px" src="@Model.ProfilePicture" data-bind="attr: { src: ProfilePicture }">
            </div>
            <div id="xgov_info_text_div">
                <div id="xgov_info_title"><h1 data-bind="text: Name">@Model.Name</h1></div>
                <div id="xgov_info_type" data-bind="text: OrganisationType">@Model.OrganisationType</div>
                <div id="xgov_info_description" data-bind="visible: Description != null, text: Description">@Model.Description</div>
                <div id="xgov_email" data-bind="visible: hasEmailAddress"><span class="glyphicon glyphicon-envelope"></span> <span data-bind="text: EmailAddress"> @Model.EmailAddress</span></div>
                @*<div id="xgov_country">@Html.Partial("CountryDisplay", new CountryViewModel(Model.Country), new ViewDataDictionary())</div>*@
            </div>
            @*<div id="xgov_info_socmedia"><a href="#">t</a> <a href="#">v</a></div>*@
        </div>
    </div>
    <div class="panel">
        <div class="tab_menu_background ">
            <div class="tab_menu auto-menu">
                <ul>
                    <li><a href="#Discussions">Discussions</a></li>
                    <li><a href="#News">News / Updates</a></li>
                    <li><a href="#Signatures">Signature Counts</a></li>
                    <li><a href="#Location">Area Map</a></li>
                    <li><a href="#Organisations">Related Organisations</a></li>
                    <li><a href="#People">People</a></li>
                </ul>
            </div>
        </div>
        <div id="Discussions" class="subPanelSection">
            <div class="tab_menu_background ">
                <div class="tab_menu discussion-cat-menu" style="width: initial;">
                    <ul data-bind="foreach: Categories">
                        <li><a data-bind="text: Title, attr: { href: '#' + ElementId }, css: { active: IsActive }, click: $root.categoryClick"></a></li>
                    </ul>
                </div>
            </div>
            <div>
                <!-- ko foreach: Categories -->
                <div class="panelSection category" data-bind="attr: { id: ElementId }, visible: IsActive, loading: loading">
                    <div class="category-header">
                        <div class="description" data-bind="text: Description"></div>
                        <div class="addDiscussion" data-bind="visible: $root.canAdd">
                            <input type="text" data-bind="value: CreateDiscussionText" placeholder="Add discussion..." class="form-control" />
                            <input type="submit" value="Submit" data-bind="click: $root.addDiscussion" class="form-control btn btn-primary" />
                        </div>
                        <div data-bind="visible: !$root.canAdd()" class="loginOrRegisterAlt">
                            <p>
                                <a href="/Account/Login">Login</a> or <a href="/Account/Register">Register</a> to start a discussion.
                            </p>
                        </div>
                    </div>                    
                    <!-- ko ifnot: Discussions().length > 0 -->
                    <div>
                        There are currently no discussions for this category, check back later.
                    </div>
                    <!-- /ko -->
                    <div data-bind="foreach: Discussions" class="discussions">
                        <div class="discussion list-item box-shadow clearfix">
                            <div class="section-info">
                                <div class="user" data-bind="with: User">
                                    <a data-bind="attr: { href: Link }" class="userLink">
                                        <div class="profile-pic">
                                            <span class="glyphicon glyphicon-user"></span>
                                        </div>
                                        <span data-bind="text: DisplayName"></span>
                                    </a>
                                </div>
                            </div>
                            <div class="section">
                                <a data-bind="text: Text, attr: { href: Link }"></a>
                            </div>
                            <div class="actions">
                                <div class="action vote up-vote" data-bind="click: $root.discussionVote, visible: $root.canAdd">
                                    <a href="#" title="Agree with this comment."><span class="glyphicon glyphicon-arrow-up"></span></a>
                                </div>
                                <div class="action vote down-vote" data-bind="click: $root.discussionVoteDown, visible: $root.canAdd">
                                    <a href="#" title="Disagree with this comment."><span class="glyphicon glyphicon-arrow-down"></span></a>
                                </div>
                            </div>
                            <div class="score" data-bind="text: Score"></div>
                            <div class="dateCreated">
                                <time class="commentTime" data-bind="attr: { datetime: DateCreated }"></time>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /ko -->
            </div>
        </div>
        <div id="News" class="panelSection">
            <h2>News</h2>
            <p>Area under construction.</p>
        </div>

        <div id="Signatures" class="panelSection">
            <h2>Signatures</h2>
            <ul data-bind="foreach: SignatureCounts">
                <li data-bind="text: Action() + Count()"></li>
            </ul>
        </div>

        <div id="Location" class="panelSection">
            <h2>Location</h2>
            <p>Area under construction.</p>
        </div>

        <div id="Organisations" class="panelSection">
            <section class="main">
                <ul class="organisations">                    
                    <!-- ko foreach: Parents -->
                    <li class="orgOrg parentOrganisation box-shadow">
                        <div class="content">
                            <div class="content-inner">
                                <a data-bind="attr: { href: Link }"><h3 data-bind="text: Name"></h3></a>
                                <span data-bind="text: Description"></span>
                                <span data-bind="text: OrganisationType"></span>
                            </div>
                        </div>
                    </li>
                    <!-- /ko -->
                    <!-- ko foreach: Children -->
                    <li class="orgOrg box-shadow" data-bind="with: $data">
                        <div class="content">
                            <div class="content-inner">
                                <a data-bind="attr: { href: Link }"><h3 data-bind="text: Name"></h3></a>
                                <span data-bind="text: Description"></span>
                                <span data-bind="text: OrganisationType"></span>
                            </div>
                        </div>
                    </li>
                    <!-- /ko -->
                </ul>
            </section>
        </div>
        <div id="People" class="panelSection">
            <h1>People</h1>
            <p>The people of significance listed at this organisation.</p>
            <div data-bind="foreach: Staff" class="row staff clearfix">
                <div class="staffMember box-shadow col-md-6">
                    <div class="profile-pic">
                        <img data-bind="attr: { src: ProfilePicture }" />
                    </div>
                    <div class="content">
                        <h4 data-bind="text: Name"></h4>
                        <span data-bind="text: EmailAddress"></span><br/>
                        <span data-bind="text: Website"></span>
                    </div>
                </div>
            </div>
            <span data-bind="visible: Staff && Staff.length == 0">There are no people of significance listed for this organisation.</span>
        </div>
    </div>
</div>
