﻿@{
    ViewBag.Title = "Organisations";
}    

<script type="text/javascript">
    $(function () {
        ko.applyBindings(organisationsVM);
        organisationsVM.setup();
    });
</script>

<h1>Organisations</h1>
<br/>
<div id="wrapper">
    <div class="filter-controls">
        <div class="row">
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-addon glyphicon glyphicon-filter"></span>
                    <select data-bind="value: organisationType, options: envocal.consts.orgTypes, optionsText: 'name', optionsValue: 'val', optionsCaption: 'Filter by type...'" class="form-control"></select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-addon glyphicon glyphicon-search"></span>
                    <input type="search" data-bind="value: searchText" placeholder="Search..." class="form-control" />
                </div>
            </div>
        </div>
    </div>
    <ul class="organisations" data-bind="foreach: organisations, loading: loading">
        <li class="orgOrg box-shadow">
            <div class="content">
                <div class="content-inner">
                    <a data-bind="attr: { href: Link }"><h3 data-bind="text: Name"></h3></a>
                    <span data-bind="text: Description"></span>
                    <span data-bind="text: OrganisationType"></span>
                </div>
            </div>
        </li>
    </ul>
</div>

