﻿@{
    ViewBag.Title = "ApiTests";
}

<h2>API Tests</h2>
<div class="container-fluid tests">
    <div class="list-controls">
        <div class="list-control button">
            <button data-bind="click: runTests">Run Tests</button>
        </div>
        <div class="list-control counts">
            <span class="green" data-bind="text: testsPassed() + ' passed'"></span>
            <span class="red" data-bind="text: testsFailed() + ' failed'"></span>
        </div>
        <div class="clearfix"></div>
    </div>
    <div>
        <table style="width:100%;">
            <tr>
                <th>Name</th>
                <th>Url</th>
                <th></th>
                <th>Was Successful</th>
            </tr>
            <!-- ko foreach: tests -->
            <tr>
                <td data-bind="text: name"></td>
                <td data-bind="text: url"></td>
                <td></td>
                <td>
                    <span data-bind="visible: successful" style="background-color:green;color:white;">Y</span>
                    <span data-bind="visible: !successful()" style="background-color:red;color:white;">N</span>
                </td>
            </tr>
            <!-- /ko -->
        </table>
    </div>
    <script type="text/javascript">

        $(function () {
            var viewModel = new apiTestVM();
            viewModel.load();
            ko.applyBindings(viewModel, $('.tests')[0]);
        });

        var apiTestVM = function () {
            var that = this;
            that.tests = ko.observableArray([]);
            that.testsPassed = ko.observable(0);
            that.testsFailed = ko.observable(0);
            that.testCounter = ko.computed(function () {
                var passed = 0, failed = 0;

                if (that) {

                    $.each(that.tests(), function (i, test) {
                        if (test.successful()) passed += 1;
                        else failed += 1;
                    });

                    that.testsPassed(passed);
                    that.testsFailed(failed);
                }
            });
            that.load = function () {
                $.each(initialTests, function (i, test) {
                    that.tests.push(morphTest(test));
                });
            };
            that.runTests = function () {
                $.each(that.tests(), function (i, test) {
                    console.log('running test: ', test.name);
                    $.when(ajaxOdataRequest(test.entityName, test.options, test.orderBy, test.top, test.skip, test.filter, test.expand, test.select))
                        .then(
                            function (data) {
                                that.processDataMorphTest(test, data);
                            },
                            function (data) {
                                that.errorMorphTest(test, data);
                            }
                        );
                });
            };
            that.processDataMorphTest = function (test, data) {

                if (test.successFunction(data)) test.successful(true);

                console.log('Passed: ', 'test = ', test, 'data = ', data);
            };
            that.errorMorphTest = function (test, data) {
                if (test.shouldFail && !!test.shouldFail) test.successful(true);
                else test.successful(false);

                console.log('Failed: ', 'test = ', test, 'data = ', data);
            };
        };

        var morphTest = function (test) {

            test.successful = ko.observable(false);
            test.url = apiPath + test.entityName;
            test.error = ko.observable(null);
            if (!test.successFunction) {
                if (test.numValuesExpected) {
                    if (test.numValuesExpected == 1) test.successFunction = singleValueValidator;
                }
                else test.successFunction = function (data) {
                    if (!data && !data.value) return false;
                    return !!data.value;
                };
            }

            return test;
        };

        function valueValidator(data) {
            if (!data || !data.value) return false;
            return !!data.value;
        }

        function singleValueValidator(data) {
            if (!data) return false;
            if (data.value && data.value.length && data.value.length != 1) return false;
            return !!data["@@odata.context"];
        }
        //function (entity, options, orderby, top, skip, filter, expand, select)
        var initialTests = [
            { name: 'Get Organisations', entityName: 'OrganisationVM' },
            { name: 'Get Discussions', entityName: 'DiscussionVM' },
            { name: 'Get Users', entityName: 'Identity', shouldFail: true },
            { name: 'Get Single User', entityName: "Identity('4cecc52e-ac3a-4696-ac6c-175af2a6378a')", numValuesExpected: 1 },
            { name: 'Get Sections', entityName: 'SectionApi' },
            { name: 'Get Section Edits', entityName: 'SectionEditApi' },
            { name: 'Get Section Comments', entityName: 'SectionCommentApi' },
            { name: 'Get Section Votes', entityName: 'SectionVoteApi' },
            { name: 'Get Section Explanations', entityName: 'SectionExplanationApi' },
            { name: 'Get Countries', entityName: 'CountryVM' },
            {
                name: 'Get Categories', entityName: 'OrganisationVM(37)', expand: 'Categories',
                successFunction: function (data) {
                    if (!data || !data.Categories || data.Categories.length == 0) return false;
                    else return true;
                }
            }
        ];
    </script>
</div>
